html, body {
    // body {
        width: 100vw;
        height: 100vh;
    // }
    // width: 100%;
    // height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(220, 2%, 14%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
}

.den-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.den-title-bar {
    -webkit-app-region: drag;
    width: 100%;
    height: 38px;
    background-color: hsl(220, 0%, 8%);
}

.dev {
    margin-left: 100px;
    margin-top: 50px;
}


webview {
    position: absolute;
    // display: block;
    border: none;
    height: 1000px;
    width: 1000px;
}

#view-a {
    transform: rotateY(45deg);
}

#view-b {
    transform: translateX(300px) rotateY(-35deg);
    // transform: translateX(300px);
}

.views {
    position: absolute;
    overflow: hidden;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    perspective: 700px;
}
